body{
	background: white;
	margin: 0;
}

@font-face{
		font-family: 'BemboStdBold';
		src: url('Bembo/BemboStdBold/BemboStdBold.otf');
	}

p{
	font-family: bebas;
	position: absolute;
	font-size: 80px;
	margin-top: 0;
	text-align: justify;
	line-height: 80px;
	
}



#lobotomy, .dash {
	color: yellow;
}

#lobotomy:hover{
	cursor: pointer;
}


div{
	background: black;
	position: absolute;
	color: yellow;
	font-family: helvetica;
	font-size: .75vw;
	line-height: 2vw;
	z-index: 12;
	margin-left: 55vw;
	margin-right: 15vw;
	margin-top: 13vw;
	padding-right: 3vw;
	padding-left: 3vw;
	padding-top: 1vw;
	text-align: left;
	display: none;

}

a:hover div {
	display: block;
}

/*
THE FIRST SPANS*/
#first{
	animation-name: firstop;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes firstop {
  0%, 100% {opacity: .3;}
  50% {opacity: 1;}
}
.first{
	animation-name: firstblur;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes firstblur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(7px);}
    100% { -webkit-filter: blur(0px);}
}


/*THE SECOND SPANS*/
#second{
	animation-name: secondop;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes secondop {
  0%, 100% {opacity: .4;}
  50% {opacity: 1;}
}
.second{
	animation-name: secondblur;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes secondblur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(12px);}
    100% { -webkit-filter: blur(0px);}
}


/*THE THIRD SPANS*/
#third{
	animation-name: thirdop;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes thirdop {
  0%, 100% {opacity: .2;}
  50% {opacity: 1;}
}
.third{
	animation-name: secondblur;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
@keyframes thirdblur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(2px);}
    100% { -webkit-filter: blur(0px);}
}


.whole{
	font-size: 5.5vw;
	line-height: 6.5vw;
	z-index: 10;
	color: white;
	position: fixed;
	margin-top: 3vh;
	margin-left: 3vw;
	margin-right: 3vw;
	
}


.back{
	background: grey;
	font-size: 2vw;
	line-height: 7pt;
	z-index: 3;
	color: black;
	position: absolute;
	-webkit-column-count: 14;
	-moz-column-count: 14;
	column-count: 14;

	display: inline-block;

	-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
}







